<div class="mt-5 row animate__animated animate__fadeIn">

    <div class="col mb-5 pb-5 text-center">


        <h4 class="mb-2 p-5">Importar documentos CSV a la base de datos</h4>

        <button class="btn-lg btn-success ps-5 pe-5">Subir documento CSV</button>

        <!-- Crear método POST manual sin usar CSV -->

    </div>

    <div class="col">
        
        <table class="table table-dark table-hover table-striped text-center box-shadow">
            <thead>
                <tr>
                    <td class="align-middle">Fecha</td>
                    <td class="align-middle">Hora</td>
                    <td class="align-middle">Consumo (Wh)</td>
                    <td class="align-middle">Precio (€/kWh)</td>
                    <td class="align-middle">Coste/Hora (€)</td>
                </tr>
            </thead>

            <tbody>
                <tr class="pointer">
                    <td class="align-middle">20-07-2021</td>
                    <td class="align-middle">5.00</td>
                    <td class="align-middle">5.248243024</td>
                    <td class="align-middle">82398423894024</td>
                    <td class="align-middle">5.034803942</td>
                </tr>

                <tr class="pointer">
                    <td class="align-middle">20-07-2021</td>
                    <td class="align-middle">5.00</td>
                    <td class="align-middle">5.248243024</td>
                    <td class="align-middle">82398423894024</td>
                    <td class="align-middle">5.034803942</td>
                </tr>

                <tr class="pointer">
                    <td class="align-middle">20-07-2021</td>
                    <td class="align-middle">5.00</td>
                    <td class="align-middle">5.248243024</td>
                    <td class="align-middle">82398423894024</td>
                    <td class="align-middle">5.034803942</td>
                </tr>

                <tr class="pointer">
                    <td class="align-middle">20-07-2021</td>
                    <td class="align-middle">5.00</td>
                    <td class="align-middle">5.248243024</td>
                    <td class="align-middle">82398423894024</td>
                    <td class="align-middle">5.034803942</td>
                </tr>
                <tr class="pointer">
                    <td class="align-middle">20-07-2021</td>
                    <td class="align-middle">5.00</td>
                    <td class="align-middle">5.248243024</td>
                    <td class="align-middle">82398423894024</td>
                    <td class="align-middle">5.034803942</td>
                </tr>
                <tr class="pointer">
                    <td class="align-middle">20-07-2021</td>
                    <td class="align-middle">5.00</td>
                    <td class="align-middle">5.248243024</td>
                    <td class="align-middle">82398423894024</td>
                    <td class="align-middle">5.034803942</td>
                </tr>
            </tbody>
        </table>


        
    </div>


</div>